@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@import "tailwindcss";

@theme {
  --color-primary: #6366f1;
  --color-secondary: #a5b4fc;

  --font-roboto: "Roboto", sans-serif;
  /*? Animações utilizadas no modal */
  --animate-overlay-show: overlay-show 0.1.5s ease-in;
  --animate-content-show: content-show 0.2s ease-in;

  @keyframes overlay-show {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes content-show {
    from {
      opacity: 0;
      transform: scale(0.8);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }

  /*? Animações utilizadas no navbar */
  --animate-enter-from-right: enter-from-right 0.2.5s ease;
  --animate-enter-from-left: enter-from-left 0.2.5s ease;
  --animate-exit-to-right: exit-to-right 0.2.5s ease;
  --animate-exit-to-left: exit-to-left 0.2.5s ease;
  --animate-scale-in: scale-in 0.2s ease;
  --animate-scale-out: scale-out 0.2s ease;

  @keyframes enter-from-right {
    from {
      opacity: 0;
      transform: translateX(200px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes enter-from-left {
    from {
      opacity: 0;
      transform: translateX(-200px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes exit-to-right {
    from {
      opacity: 1;
      transform: translateX(0);
    }
    to {
      opacity: 0;
      transform: translateX(200px);
    }
  }

  @keyframes exit-to-left {
    from {
      opacity: 1;
      transform: translateX(0);
    }
    to {
      opacity: 0;
      transform: translateX(-200px);
    }
  }

  @keyframes scale-in {
    from {
      opacity: 0;
      transform: rotateX(-30deg) scale(0.9);
    }
    to {
      opacity: 1;
      transform: rotateX(0deg) scale(1);
    }
  }

  @keyframes scale-out {
    from {
      opacity: 1;
      transform: rotateX(0deg) scale(1);
    }
    to {
      opacity: 0;
      transform: rotateX(-10deg) scale(0.95);
    }
  }
}

body {
  @apply font-roboto;
}
